@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="text"]:focus ~ .input-text{
  @apply  text-[12px] transform -translate-y-[1rem] -translate-x-4
}

.back{
  background-image: url(../src/assets/Hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

}

.back1{
  background-image: url(../src/assets/HolyDay.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.back2{
  background-image: url(../src/assets/Promo2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 333px;
}

.back3{
  background-image: url(../src/assets/Promo1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 333px;
}

.back4{
  background-image: url(../src/assets/Group\ 1000001799.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 333px;
}

.back5{
  background-image: url(../src/assets/back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 663px;
  object-fit: contain;
}
.back6{
  background-image: url(../src/assets/about1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 540px;
}

.back7{
  background-image: url(../src/assets/wonder.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 330px;
}

.back8{
  background-image: url(../src/assets/travels.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 540px;
}

.back9{
  background-image: url(../src/assets/single.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 540px;
}

body{
  font-family: "Merriweather", serif;
}


.title{
  font-family: "Madimi One", sans-serif;
}


.btn{
  position: relative;
}

.btn::after{
  content: '';
  position: absolute;
  background-color: #14A2F1;
  width: 0;
  height: 3px;
  top: 25px;
  left: 0;
  right: 0;
  transition: 0.3s;
  border-radius: 20px;
}